body{
    background-color:antiquewhite;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
}

h1{
    color:#EA1179 ;
    font-size: 64px;
}

.navbar{
    display: inline;  
}

.navbar :hover{
    background-color: aqua;
}

.navbar a{
    padding: 0 12px;
}

header{
    font-size: 32px;
    color:#793FDF;
    margin-top: 32px;
}
.green{
    color:green;
    font-size: 24px;
}

.welcome a:hover{
    color: aqua;
}

img {
    height: 200px;
    width: 200px;
}

ul {
    list-style-type: none;
}

 li{
    display:inline;
}

#send{
    height: 50px;
    width: 100px;
}
